# Virtual environment
.venv/
.temp_docs/
documents/
logs/

# Cache
__pycache__/
.cache/

*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.app.prod

# Distribution / packaging
build/
dist/
*.egg-info/
.milvus/

todos.md
